<html>
<head>
    <title>CDD Ansible Demo</title>
</head>
<body>
    <h1>
        Hurray!!! CDD plugin for Ansible working.....
        My IP Address is 
    </h1>
    <br/><br/><br/>
    <p>
        <img src="spartan-logo.jpg" alt="CDD Logo"/>
    </p>
</body>
</html>